body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #e3dac9;
  }

#mainpage {
    width: 250px;
    height: fit-content;
    border-radius: 50%;
    background-color: #228B22;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 25px;
  }

  #LDTitle {
    width: fit-content;
    height: 150px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 100px;
  }

  #WRS {
    width: fit-content;
    height: 50px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 45px;
  }

  #LDbody {
    width: fill-content;
    height: 50px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 50px;
  }
